body,
html {
  margin: 0;
}

body {
  background-color: rgb(5, 0, 110, 1);
  background: linear-gradient(0deg, rgba(71, 158, 255, 1) 0%, rgba(5, 0, 110, 1) 100%) no-repeat;
  
}

.pgs {
  animation: pagina 2s;
}

.pgs-1 {
  animation: pagina-1 2s;
}

#bg-top {
  background: rgb(0, 0, 155);
  color: wheat
}

#menu-pg-1 {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: auto;
}

#c-menu {
  font-size: 150%;
  padding: 20px;
  padding-top: 30px;
  background: rgb(0, 0, 136);
  border-radius: 15px;
  color: wheat;
}

#botão {
  font-size: 15px;
  width: 100%;
  color: wheat;
  background: rgb(4, 0, 255);
  padding: 5px;
  border-radius: 10px;
}

.div-responsive {
  width: 576px;
  height: auto;

}

@media screen (min-width: 768px) {
  .div-responsive {
    width: 50%;
  }
}

@media screen (min-width: 1024px) {
  .div-responsive {
    width: 30%;
  }
}

section {
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  height: 100vh;
  /* altura da viewport */
  }


/* 
___________________________________________________________________
link botão logar */

.link-logar {
  color: rgb(0, 2, 94);
  font-size: 140%;
  padding: 14px 70px 14px 60px;
}

.link-logar:hover {
  text-decoration: none;
  color: rgba(0, 2, 94, 0.700);
}

.link-cadastro {
  color: rgb(0, 2, 94);
  font-size: 140%;
  padding: 14px 49px 14px 40px;
}

.link-cadastro:hover {
  text-decoration: none;
  color: rgba(0, 2, 94, 0.700);
}

/*____________________________________________________________________
 Animação */

@keyframes pagina {
  from {
    opacity: 0.5; 
    translate: 100vw 0;
  }

  to {
    opacity: 1;
    transition: 0 0;
  }
}

@keyframes pagina-1 {
  from {
    opacity: 0.5; 
    translate: -100vw 0;
  }

  to {
    opacity: 1;
    transition: 0 0;
  }
}

/*____________________________________________________________________
 Pagina principal */

.pg-1 {
  width: 20%px;
  height: 200px;
  background: red;
  margin: 10%;
}

.quadrado {
  width: 100%; /* Faz com que os quadrados ocupem a largura disponível */
  max-width: 200px; /* Limita a largura máxima */
  aspect-ratio: 1; /* Mantém a proporção 1:1 para quadrados */
  background-color: rgb(4, 0, 255); /* Cor de fundo */
  margin: 15px; /* Espaço entre os quadrados */
  transition: transform 0.3s; /* Transição suave ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra*/
  border-radius: 10px; /* Aredondamento*/
  border: 1px solid white; /* Aredondamento*/
}

.margin-1 {
  position: absolute;
  margin-top: 900px; /* Para espaçar todos os quadrados */
}

.quadrado:hover {
  transform: scale(1.05); /* Aumenta ligeiramente ao passar o mouse */
}


@media (min-width: 768px) {
  .margin-1 {
    margin-top: 100px;
  }
}

/*__________________________________________________________________
 IMG */

 .img-1 {
  width: 60%;
  margin-top: 10%; 
  margin-bottom: 10px;
 }

.menu-pg-2 {
  font-size: 20px;
  color: white;
 }


/*__________________________________________________________________
 RODAPE */

 .rodape1 {
  font-size: 12px;
  width: 20%;
  height: 15px;
  position: fixed;
  bottom: 0;
  margin-bottom: 0.5px;
}

.rodape1:hover {
  background-color: rgba(128, 128, 128, 0.500);
}


.rodape1 a {
  color: rgba(0, 0, 0, 0.750);
}
